body {
  height: 100%;
}
.portfolio {
  min-height: 100vh;
}

.subHeader {
  text-transform: capitalize !important;
  margin-bottom: 1em !important;
}

.description {
  width: 30vw !important;
}
.modal-header {
  margin-bottom: 13em !important;
}

.link-button {
  margin-left: 1rem !important;
}

.wrapper {
  position: relative !important;
}

.desktop-carousel .carousel {
  position: relative !important;
  top: 18em !important;
}

.mobile-carousel .carousel {
  position: relative !important;
  top: 6em !important;
}

.modalHeader {
  margin-top: 5em !important;
}
