body {
  height: 100%;
}
.portfolio {
  min-height: 100vh;
}

.subHeader {
  text-transform: capitalize !important;
  margin-bottom: 4rem !important;
}

.description {
  width: 22vw !important;
}
.modal-header {
  margin-bottom: 24rem !important;
}

.link-button {
  margin-left: 1rem !important;
}
